<%- include("./header.ejs") %>
<br>
<div class="container">
    <center><img style="border-radius: 100px;" src="https://cdn.discordapp.com/attachments/917692843643011100/951090352364867634/LogoMakr_1_1.png" alt="logo"></center>
    <center><h1>Stalin Junior - Uptime</h1></center>
    <center>Sitemize hoşgeldiniz sitelerinizi kolayca uptime edebilmek için discord ile giriş yapın ardından kullanıcı adınıza tıklayıp yönetici paneli kısmını seçin.</center>
</div>